@import "var";

main {
    .portada__fixture {
        margin: 10px 0;

        .portada__fixture__img img {
            width: 100%;
        }
    }

    .formacion_equipos {
        .formacion_gral {
            display: flex;
            justify-content: center;

            .formacion__argentina {
                display: flex;
                justify-content: space-around;
                width: 50%;
                border-right: 2px solid;

                table {
                    @extend .tabla;

                    tr {
                        height: 40px;
                        border-bottom: 1px solid whitesmoke;
                    }
                }
            }

            .escudo {
                margin: auto 20px;

                img {
                    width: 200px;
                }
            }

            .formacion__uruguay {
                display: flex;
                justify-content: space-around;

                table {
                    @extend .tabla;

                    tr {
                        height: 40px;
                    }
                }
            }

        }
    }

    .proximos_partidos {
        margin: 30px 0 0 0;
        padding-bottom: 20px;
        background-color: $fondo;
        color: whitesmoke;

        h2 {
            text-align: center;
            padding: 40px 0;
            font-family: $texto_principal;
            letter-spacing: 5px;

        }

        table {
            width: 50%;
            margin: 0 auto;
            background-color: whitesmoke;
            color: black;
            border-radius: 5px;

            thead tr {
                box-shadow: 0 0 10px gray;
                font-family: $texto_principal;
                font-size: 20px;
                letter-spacing: 1.5px;
            }

            tr {
                border-bottom: 1px solid;
                text-align: center;
                height: 50px;
                font-family: $texto_secundario;
            }
        }
    }

    .posiciones_gral {
        margin: 30px 0;

        h2 {
            font-family: $texto_principal;
            text-align: center;
            letter-spacing: 5px;
            padding: 30px;
        }

        table {
            width: 30%;
            margin: 0 auto;
            text-align: center;

            thead tr {
                font-family: $texto_principal;
                letter-spacing: 3px;
                box-shadow: 0 0 5px gray;

                th {
                    padding: 10px;
                }
            }

            tr {
                border-bottom: 1px solid rgba(#000, 0.2);
                height: 35px;
                font-family: $texto_secundario;

                .ganado {
                    color: green;
                    font-weight: bold;
                }

                .perdido {
                    color: red;
                    font-weight: bold;
                }

                .empatado {
                    color: gray;
                    font-weight: bold;
                }

                &:hover td {
                    background-color: $fondo;
                    color: whitesmoke;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    main {
        .formacion_equipos {
            .formacion_gral {
                display: block;
                justify-content: center;

                .formacion__argentina {
                    width: 100%;
                    border-right: none;
                    margin-bottom: 50px;
                    padding: 50px;
                    background-color: $fondo;
                    color: whitesmoke;
                }

                .escudo img {
                    width: 250px;
                }

                .formacion__uruguay {
                    padding: 25px 50px;


                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    main {
        .formacion_equipos {

            .formacion_gral {
                .tabla {
                    width: 600px;
                    text-align: center;

                    thead tr {
                        font-size: 15px;
                    }

                    tr {

                        border-bottom: 1px solid;
                        height: 30px;
                        font-size: 12px;
                        font-family: $texto_secundario;
                    }
                }

                .escudo {
                    img {
                        width: 150px;
                    }
                }

            }

        }

        .proximos_partidos {
            table {
                width: 70%;

                thead tr {
                    font-size: 15px;
                }

                tr {
                    height: 30px;
                    font-size: 12px;
                }
            }
        }

        .posiciones_gral {
            table {
                width: 45%;

                thead tr {
                    font-size: 14px;
                }

                tr {
                    height: 25px;
                    font-size: 12px;

                    .ganado {
                        color: green;
                        font-weight: bold;
                    }

                    .perdido {
                        color: red;
                        font-weight: bold;
                    }

                    .empatado {
                        color: gray;
                        font-weight: bold;
                    }

                    &:hover td {
                        background-color: $fondo;
                        color: whitesmoke;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        .formacion_gral {
            .tabla_formacion {
                .tabla {
                    width: 500px;
                }

            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {

        .formacion_equipos {

            .formacion_gral {
                .tabla_formacion {
                    .tabla {
                       width: 100%;
                        justify-content: stretch;
                        
                    }

                }

                .formacion__argentina {
                    display: block;
                    justify-content: space-around;
                    align-items: center;

                }

                .formacion__uruguay {
                    display: block;
                    justify-content: space-around;
                    align-items: center;
                    
                }

            }

            .escudo {
                text-align: center;

                img {
                    margin: 10px 30px;
                    width: 150px;
                }
            }

        }

        .proximos_partidos {
            .partidos__argentina {
                table {
                    width: 90%;
                    .none-responsive{
                        display: none;
                    }
                }
            }

        }
        .posiciones_gral {
            .tabla_posiciones{
              .posiciones {
                width: 75%;
            }  
            }
            
        }

    }



}