@import "var";
.header{
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: whitesmoke;
    font-family: $texto_principal;
    position: sticky;
    top: 0;
    z-index: 9999999;
    .header__logo img{
        width:90px;
    }
    .header__navegacion{
        .main{
            display: none;
        }
        .none{
            display: none;
        }
        .header__navegacion__ul{
            display: flex;
            justify-content:space-between;
            list-style: none;
            margin-top: 15px;
            padding: 0px;
            a{
                text-decoration: none;
                padding: 5px 10px;
                margin: 0 40px;
                color: black;
                letter-spacing: 1.5px;
                border-radius: 6px;
                font-size: 18px;
                &:hover{
                    background-color: $fondo;
                    color: whitesmoke;
                    border-radius: 6px;
                    transition: background-color 1s;
                }
            }

        }

    }
}
@media screen and (max-width: 770px){
    .header{
        height: 50px;
        justify-content: space-between;
        .header__logo img{
            margin-left: 100px;
            width: 49px
        }
        .header__navegacion{
            .main{
                display: block;
                font-size: 30px;
                padding: 3px;
                margin-right: 100px;                
            }
            
            .header__navegacion__ul{
            position: absolute;
            display: none;
            left: 0;
            top: 35px;
            width: 100%;
            li{
                margin: 5px;
                
            }
        }
        .checkbox:checked + .header__navegacion__ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border: solid 1px;
            background-color: whitesmoke;
            animation-name: menu;
        }

        }
        
    }
}
