@import "var";

main {
    .section__promocion img {
        width: 100%;
        height: 800px;
    }

    .galeria-responsive {
        display: none;
    }

    .section__noticias {
        h1 {
            font-family: $texto_secundario;
            letter-spacing: 3.5px;
            text-align: center;
            font-size: 25px;
            background-color: $fondo;
            color: whitesmoke;
            line-height: 150px;
            font-weight: 200;

            .importante {
                font-family: $texto_principal;
                font-size: 50px;
            }
        }

        h2 {
            font-family: $texto_principal;
            text-align: center;
            margin-top: 50px;
            color: black;
            text-decoration: underline;
            font-size: 45px;
            letter-spacing: 2.5px
        }

        .section__div__noticias {
            margin: 0 auto;

            .noticia {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                margin: 0 auto;
                width: 1500px;
                border-bottom: solid 1px rgba(0, 0, 0, 0.5);

                .messi img {
                    width: 350px;
                }

                .img_responsive {
                    display: none;
                }

                .noticia__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin-left: 20px;
                    height: max-content;

                    h3 {
                        font-family: $texto_principal;
                    }

                    p {
                        column-count: 2;
                        font-family: $texto_secundario;

                      
                    }
                    .btn-noticia{
                        text-align: center;
                        width: 100px;
                        line-height: 30px;
                        font-size: 12px;
                        justify-content: center;
                        letter-spacing: 1.5px;
                        font-family: $texto_secundario;
                        margin-top: 50px;
                        border-radius: 5px;
                        background-color: black;
                        color: whitesmoke;
                        text-decoration: none;
                        border: solid 1px transparent;

                        &:hover {
                            background-color: whitesmoke;
                            color: black;
                            border: 1px solid;
                            transition: background-color 0.5s;
                        }
                    }

                }
            }

            .dibu_martinez {
                background-color: $fondo;

                .noticia__text {
                    color: whitesmoke;

                }

            }
        }
    }

    .proximos_encuentro img {
        width: 100%;
    }

    .section__categoria {
        margin-top: 50px;

        h3 {
            font-family: $texto_principal;
            margin: 40px;
            font-size: 30px;
            letter-spacing: 3.5px;
            color: black;
        }

        .contenedor__categoria {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            justify-content: space-between;
            width: 70vw;
            margin: 0 auto;

            .categoria__img {
                height: 480px;

                .categoria__img__img {
                    margin-bottom: 10px;

                    img {
                        width: 440px;
                        height: 400px;

                        &:hover {
                            transform: scale(1.05, 1.05);
                            margin-bottom: 10px;
                            transition: all 0.5s;

                        }
                    }

                }

                h4 {
                    font-family: $texto_principal;
                    letter-spacing: 5px;
                    font-size: 25px;
                    margin: 10px 15px;
                    color: black;
                }
            }

        }
    }

    .formulario {
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin: 45px;
        height: 150px;

        p {
            font-family: $texto_secundario;
            font-size: 32px;
            margin: 15px;
            text-align: center;
        }

        .formulario__form {
            text-align: center;
            margin: 0 auto;

            .formulario__form__email {
                width: 450px;
                height: 35px;
                padding-left: 20px;
                margin-right: 15px;
                outline: none;
                border-radius: 5px;
            }

            .formulario__form__suscripcion {
                width: 150px;
                height: 35px;
                border: none;
                background-color: black;
                font-family: $texto_secundario;
                color: whitesmoke;
                border-radius: 5px;
                padding: 5px;

                &:hover {
                    background-color: $fondo;
                    border: 1px solid;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background-color: black;
    color: whitesmoke;

    h3 {
        font-family: $texto_principal;
        letter-spacing: 3.5px;
        font-size: 14px;
        text-align: center;
    }

    a {
        color: whitesmoke;
        text-decoration: none;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;

        a {
            width: max-content;
            font-family: $texto_secundario;
            margin: 5px;
            border-bottom: 1px solid transparent;
            font-size: 10px;

            &:hover {
                border-bottom: 1px solid whitesmoke;
            }
        }
    }

    .footer__redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;

        p {
            font-family: $texto_secundario;
            padding: 5px 20px;
            font-size: 12px;
        }

        .redes a {
            font-size: 18px;
            margin-right: 10px;

            &:hover {
                color: $fondo;
            }
        }
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 550px;
        font-size: 12px;
        font-family: $texto_secundario;

        h3 {
            text-align: left;
        }

        .info-contacto {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

@media screen and (max-width: 1280px) {
    main {
        .section__noticias {
            h1 {
                line-height: 90px;
            }

            h2 {
                margin-top: 30px;
            }

            .section__div__noticias {
                height: max-content;

                .noticia {
                    width: 90%;

                    .noticia__text {
                        width: 900px;

                        .parrafo {
                            margin-top: 20px;
                            font-size: 14px;

                            span {
                                display: none;
                            }
                        }

                        .btn-noticia {
                            margin-top: 10px;

                        }

                    }
                }

            }

        }

        .proximos_encuentro img {
            width: 100%;
            height: 600px;
        }

        .section__categoria {
            .contenedor__categoria {
                grid-template-columns: repeat(3, 300px);
                gap: 0;
                width: 95%;

                .categoria__img {
                    height: 380px;

                    .categoria__img__img {

                        img {
                            width: 300px;
                            height: 300px;

                        }
                    }

                }

                h4 {
                    font-size: 20px;
                }
            }


        }
    }

}

@media screen and (max-width: 1024px) {
    main {
        .proximos_encuentro img {
            width: 100%;
            height: 450px;
        }

    }

    .footer {
        iframe {
            width: 200px;
        }

    }

}

@media screen and (max-width:992px) {
    main {
        .section__noticias {
            .section__div__noticias {

                .noticia {
                    height: max-content;
                    margin-bottom: 10px;

                    .noticia__text {

                        .parrafo {
                            column-count: 2;
                            font-size: 12px;

                            .ocultar {
                                display: none;
                            }
                        }

                        .btn-noticia {
                            margin-top: 5px;
                        }
                    }
                }

            }
        }

        .proximos_encuentro img {
            width: 100%;
            height: 450px;
        }

    }
}

@media screen and (max-width: 770px) {
    main {
        .section__promocion {
            display: none;
        }

        .galeria-responsive {
            display: block;

            img {
                height: 400px;
            }
        }

        .section__noticias {
            h1 {
                font-size: 20px;
                line-height: 70px;

                .importante {
                    font-size: 25px;
                }
            }

            h2 {
                margin-top: 20px;
                font-size: 35px;
            }

            .section__div__noticias {
                margin: 0 auto;

                .noticia {
                    flex-direction: column;

                    .messi img {
                        display: none;
                    }

                    .img_responsive {
                        display: block;
                        width: 400px;
                        margin-bottom: 15px;

                        img {
                            width: 100%
                        }
                    }

                    .noticia__text {
                        width: 100%;

                        h3 {
                            font-family: $texto_principal;
                        }

                        .parrafo {
                            column-count: 1;
                            width: 500px;

                        }

                        .btn-noticia {
                            margin-top: 5px;
                            margin-bottom: 10px;

                        }
                    }
                }

                .dibu_martinez {
                    background-color: $fondo;
                    padding-top: 20px;

                    .noticia {
                        flex-direction: column-reverse;

                        .noticia__text {
                            color: whitesmoke;

                            h3 {
                                width: 500px;
                            }
                        }

                    }

                    .dibu img {
                        display: none;
                    }

                }
            }
        }

        .proximos_encuentro img {
            width: 100%;
            height: 400px;
        }

        .section__categoria {

            .contenedor__categoria {
                grid-template-columns: repeat(1, 400px);
                justify-content: center;

                .categoria__img {
                    justify-self: center;
                    height: 440px;

                    .categoria__img__img {
                        margin-bottom: 10px;

                        img {
                            width: 400px;
                            height: 360px;
                        }
                    }
                }

            }
        }

        .formulario {
            height: 100px;

            p {
                font-size: 20px;
            }

            .formulario__form {

                .formulario__form__email {
                    width: 250px;
                    height: 25px;
                }

                .formulario__form__suscripcion {
                    width: 100px;
                    font-size: 15px;
                    padding: 3px;
                }
            }
        }
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
        height: max-content;

        h3 {
            font-size: 20px;
        }

        .footer__links {
            width: 100%;
            padding: 30px;
        }

        .footer__redes {
            width: 100%;
            border-bottom: 1px solid gray;
            padding: 30px;

            p {
                font-size: 15px;
            }

        }

        .footer__info {
            width: 100%;
            border-bottom: 1px solid gray;
            padding: 30px;


            .info-contacto {
                display: flex;
                justify-content: space-around;
                align-items: center;

                h3 {
                    text-align: center;
                }

                .map {
                    iframe {
                        width: 300px;
                    }
                }


            }
        }
    }

}

@media screen and (max-width: 600px) {
    main {
        .galeria-responsive {
            display: block;

            img {
                height: 300px;
            }
        }

        .section__noticias {
            h1 {
                font-size: 15px;
                line-height: 50px;

                .importante {
                    font-size: 20px;
                }
            }

            h2 {
                margin-top: 20px;
                font-size: 25px;
            }

            .section__div__noticias {

                .noticia {

                    .img_responsive {
                        display: block;
                        width: 400px;
                        margin-top: 20px;
                        margin-bottom: 15px;

                        img {
                            width: 400px;
                        }
                    }

                    .noticia__text {

                        h3 {
                            font-size: 20px;
                        }


                        .btn-noticia {
                            width: max-content;
                            height: max-content;
                            padding: 5px;
                            font-size: 10px;

                        }
                    }
                }


            }
        }

        .proximos_encuentro img {
            width: 100%;
            height: 300px;
        }

        .formulario {
            height: 90px;

            p {
                font-size: 15px;
            }

            .formulario__form {
                display: flex;
                justify-content: center;
                align-items: center;

                .formulario__form__email {
                    width: 250px;
                    height: 25px;
                }

                .formulario__form__suscripcion {
                    width: max-content;
                    height: max-content;
                    font-size: 10px;
                    padding: 3px;
                }
            }
        }
    }

    footer {

        h3 {

            font-size: $quince;
        }

        .footer__redes {

            p {
                font-size: 12px;
            }

        }

        .footer__info {
            .info-contacto {
                .map {
                    iframe {
                        width: 200px;
                    }
                }


            }
        }
    }
}

@media screen and (max-width: 480px) {
    main {
        .galeria-responsive {
            img {
                width: 100%;
                height: 250px;
            }
        }

        .section__noticias {
            h1 {
                font-size: 14px;
                line-height: 35px;
                padding: 10px;
                text-align: center;

                .importante {
                    font-size: 18px;
                }
            }

            .section__div__noticias {

                .noticia {
                    .img_responsive {
                        display: block;
                        width: 350px;
                        margin-top: 20px;
                        margin-bottom: 15px;

                        img {
                            width: 350px;
                        }
                    }
                    .noticia__text {

                        h3 {
                            font-size: 18px;
                            letter-spacing: 1px;
                        }

                        .parrafo {
                            width: 90%;
                        }

                    }
                }

                .dibu_martinez {
                    .noticia {
                        .noticia__text {
                            h3 {
                                width: 90%;

                            }
                        }



                    }

                }



            }
        }

        .proximos_encuentro img {
            width: 100%;
            height: 250px;
        }

        .section__categoria {
            h3 {
                font-size: 25px;
            }

            .contenedor__categoria {
                grid-template-columns: repeat(1, 70vw);
                justify-content: center;

                .categoria__img {
                    justify-self: center;
                    height: max-content;

                    h4 {
                        font-size: 20px;
                    }

                    .categoria__img__img {
                        margin-bottom: 10px;


                        img {
                            width: 100%;
                            height: 200px;
                        }
                    }
                }

            }
        }

        .formulario {
            height: 100px;

            p {
                font-size: 13px;
            }

        }
    }

    footer {

        h3 {

            font-size: $quince;
        }

        .footer__redes {

            p {
                font-size: 12px;
            }

        }

        .footer__info {
            .info-contacto {
                flex-direction: column;

                .map {
                    iframe {
                        width: 200px;
                    }
                }


            }
        }
    }
}

@media screen and (max-width: 320px) {
    main {
        .galeria-responsive {
            .mi_estilo_galeria {
                img {
                    height: 170px;
                }
            }

        }
        .section__noticias {
            h1{
                display: none;
            }
            .section__div__noticias {

                .noticia {

                    .img_responsive {
                        display: block;
                        width: 250px;
                        margin-top: 20px;
                        margin-bottom: 15px;

                        img {
                            width: 100%;
                        }
                    }
                }


            }
        }
        .proximos_encuentro img {
            width: 100%;
            height: 200px;
        }
        .section__categoria {
            h3 {
                font-size: 15px;
            }

            .contenedor__categoria {
                .categoria__img {
                    h4 {
                        font-size: 12px;
                    }

                }

            }
            
        }
        .formulario {
            height: 150px;

            .formulario__form{
                flex-direction: column;
                .formulario__form__email{
                    font-size: $doce;
                    width: 170px;
                    margin-bottom: 20px;
                }
            }

        }

    }




}