@import "var";
main{
    .nosotros{
        margin: 40px 0;
        h1{
            text-align: center;
            font-family: $texto_principal;
            letter-spacing: 1.5px;
            margin-bottom: 40px;
        }
        .contenedor-texto{
            font-family: $texto_secundario;
            width: 70%;
            margin: 0 auto;
            text-align: justify;
        }
        .scaloneta{
            text-align: center;
        }
    }
}

@media screen and (max-width: 320px){
    main{
        .nosotros{
            h1{
                font-size: $veinte;
            }
            .contenedor-texto{
               font-size: $doce;
               width: 80vw;
            }
            .scaloneta{
                img{
                    width: 200px;
                }
            }
        }
    }
}