$texto_principal: 'Bebas Neue', sans-serif;
$texto_secundario: 'Raleway', sans-serif;
$fondo: #023e8a;
$doce: 12px;
$quince: 15px;
$dez:10px;

.formacion {
    display: flex;
    justify-content: space-around;
}


.tabla {
    width: 600px;
    text-align: center;

    thead tr {
        font-family: $texto_principal;
        letter-spacing: 2.5px;
    }

    tr {

        border-bottom: 1px solid;
        font-family: $texto_secundario;
    }
}

.contenedor_card {
    width: 70%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 0 auto;
    border-bottom: 1px solid whitesmoke;

    .card_miEstilo {
        margin-bottom: 20px;
    }

    .card_miEstilo img {
        height: 500px;
    }
}

.contenedor_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

