$texto_principal: 'Bebas Neue', sans-serif;
$texto_secundario: 'Raleway', sans-serif;
$fondo: #023e8a;

.formacion {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.tabla {
    width: 600px;
    text-align: center;

    thead tr {
        font-family: $texto_principal;
        font-size: 20px;
        letter-spacing: 2.5px;
    }

    tr {

        border-bottom: 1px solid;
        height: 40px;
        font-family: $texto_secundario;
    }
}

