@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;300&display=swap');
@import "header";
@import "index";
@import "fixture";
@import "plantel";
@import "contacto";
@import "_nosotros";
@import "var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
