@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;300&display=swap");
.tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
  width: 600px;
  text-align: center; }
  .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px; }
  .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
    border-bottom: 1px solid;
    font-family: "Raleway", sans-serif; }

.contenedor_card, main .cards-plantel .contenedor_card {
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke; }

.contenedor_form, main .form_contacto form, main .form_contacto form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: whitesmoke;
  font-family: "Bebas Neue", sans-serif;
  position: sticky;
  top: 0;
  z-index: 9999999; }
  .header .header__logo img {
    width: 90px; }
  .header .header__navegacion .main {
    display: none; }
  .header .header__navegacion .none {
    display: none; }
  .header .header__navegacion .header__navegacion__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 15px;
    padding: 0px; }
    .header .header__navegacion .header__navegacion__ul a {
      text-decoration: none;
      padding: 5px 10px;
      margin: 0 40px;
      color: black;
      letter-spacing: 1.5px;
      border-radius: 6px;
      font-size: 18px; }
      .header .header__navegacion .header__navegacion__ul a:hover {
        background-color: #023e8a;
        color: whitesmoke;
        border-radius: 6px;
        transition: background-color 1s; }

@media screen and (max-width: 770px) {
  .header {
    height: 50px;
    justify-content: space-between; }
    .header .header__logo img {
      margin-left: 100px;
      width: 49px; }
    .header .header__navegacion .main {
      display: block;
      font-size: 30px;
      padding: 3px;
      margin-right: 100px; }
    .header .header__navegacion .header__navegacion__ul {
      position: absolute;
      display: none;
      left: 0;
      top: 35px;
      width: 100%; }
      .header .header__navegacion .header__navegacion__ul li {
        margin: 5px; }
    .header .header__navegacion .checkbox:checked + .header__navegacion__ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background-color: whitesmoke;
      animation-name: menu; } }

@media screen and (max-width: 600px) {
  .header .header__logo img {
    margin-left: 40px;
    width: 49px; }
  .header .header__navegacion .main {
    margin-right: 40px; } }

.tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
  width: 600px;
  text-align: center; }
  .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px; }
  .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
    border-bottom: 1px solid;
    font-family: "Raleway", sans-serif; }

.contenedor_card, main .cards-plantel .contenedor_card {
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke; }

.contenedor_form, main .form_contacto form, main .form_contacto form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main .section__promocion img {
  width: 100%; }

main .galeria-responsive {
  display: none; }

main .section__noticias h1 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 3.5px;
  text-align: center;
  font-size: 25px;
  background-color: #023e8a;
  color: whitesmoke;
  line-height: 150px;
  font-weight: 200; }
  main .section__noticias h1 .importante {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px; }

main .section__noticias h2 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin-top: 50px;
  color: black;
  text-decoration: underline;
  font-size: 45px;
  letter-spacing: 2.5px; }

main .section__noticias .section__div__noticias {
  margin: 0 auto; }
  main .section__noticias .section__div__noticias .noticia {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    width: 1500px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5); }
    main .section__noticias .section__div__noticias .noticia .messi img {
      width: 350px; }
    main .section__noticias .section__div__noticias .noticia .img_responsive {
      display: none; }
    main .section__noticias .section__div__noticias .noticia .noticia__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
      height: max-content; }
      main .section__noticias .section__div__noticias .noticia .noticia__text h3 {
        font-family: "Bebas Neue", sans-serif; }
      main .section__noticias .section__div__noticias .noticia .noticia__text p {
        column-count: 2;
        font-family: "Raleway", sans-serif; }
        main .section__noticias .section__div__noticias .noticia .noticia__text p span {
          display: none; }
      main .section__noticias .section__div__noticias .noticia .noticia__text input {
        display: flex;
        width: 100px;
        height: 30px;
        font-size: 12px;
        justify-content: center;
        letter-spacing: 1.5px;
        font-family: "Raleway", sans-serif;
        border: none;
        margin-top: 50px;
        border-radius: 5px;
        background-color: black;
        color: whitesmoke; }
        main .section__noticias .section__div__noticias .noticia .noticia__text input:hover {
          background-color: whitesmoke;
          color: black;
          border: 1px solid;
          transition: background-color 0.5s; }
  main .section__noticias .section__div__noticias .dibu_martinez {
    background-color: #023e8a; }
    main .section__noticias .section__div__noticias .dibu_martinez .noticia__text {
      color: whitesmoke; }
      main .section__noticias .section__div__noticias .dibu_martinez .noticia__text input {
        background-color: whitesmoke;
        color: black; }
        main .section__noticias .section__div__noticias .dibu_martinez .noticia__text input:hover {
          border: 1px solid whitesmoke;
          color: whitesmoke;
          background-color: #023e8a; }

main .proximos_encuentro img {
  width: 100%;
  height: 750px; }

main .section__categoria {
  margin-top: 50px; }
  main .section__categoria h3 {
    font-family: "Bebas Neue", sans-serif;
    margin: 40px;
    font-size: 30px;
    letter-spacing: 3.5px;
    color: black; }
  main .section__categoria .contenedor__categoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto; }
    main .section__categoria .contenedor__categoria .categoria__img {
      height: 480px; }
      main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img {
        margin-bottom: 10px; }
        main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img img {
          width: 440px;
          height: 400px; }
          main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img img:hover {
            transform: scale(1.05, 1.05);
            margin-bottom: 10px;
            transition: all 0.5s; }
      main .section__categoria .contenedor__categoria .categoria__img h4 {
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 5px;
        font-size: 25px;
        margin: 10px 15px;
        color: black; }

main .formulario {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 45px;
  height: 150px; }
  main .formulario p {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    margin: 15px;
    text-align: center; }
  main .formulario .formulario__form {
    text-align: center;
    margin: 0 auto; }
    main .formulario .formulario__form .formulario__form__email {
      width: 450px;
      height: 35px;
      padding-left: 20px;
      margin-right: 15px;
      outline: none;
      border-radius: 5px; }
    main .formulario .formulario__form .formulario__form__suscripcion {
      width: 150px;
      height: 35px;
      border: none;
      background-color: black;
      font-family: "Raleway", sans-serif;
      color: whitesmoke;
      border-radius: 5px;
      padding: 5px; }
      main .formulario .formulario__form .formulario__form__suscripcion:hover {
        background-color: #023e8a;
        border: 1px solid; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  background-color: black;
  color: whitesmoke; }
  footer h3 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3.5px;
    font-size: 14px;
    text-align: center; }
  footer a {
    color: whitesmoke;
    text-decoration: none; }
  footer .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px; }
    footer .footer__links a {
      width: max-content;
      font-family: "Raleway", sans-serif;
      margin: 5px;
      border-bottom: 1px solid transparent;
      font-size: 10px; }
      footer .footer__links a:hover {
        border-bottom: 1px solid whitesmoke; }
  footer .footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; }
    footer .footer__redes p {
      font-family: "Raleway", sans-serif;
      padding: 5px 20px;
      font-size: 12px; }
    footer .footer__redes .redes a {
      font-size: 18px;
      margin-right: 10px; }
      footer .footer__redes .redes a:hover {
        color: #023e8a; }
  footer .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 550px;
    font-size: 12px;
    font-family: "Raleway", sans-serif; }
    footer .footer__info h3 {
      text-align: left; }
    footer .footer__info .info-contacto {
      display: flex;
      justify-content: space-around;
      align-items: center; }

@media screen and (max-width: 1280px) {
  main .section__noticias h1 {
    line-height: 90px; }
  main .section__noticias h2 {
    margin-top: 30px; }
  main .section__noticias .section__div__noticias {
    height: max-content; }
    main .section__noticias .section__div__noticias .noticia {
      width: 90%; }
      main .section__noticias .section__div__noticias .noticia .noticia__text {
        width: 900px; }
        main .section__noticias .section__div__noticias .noticia .noticia__text .parrafo {
          margin-top: 20px;
          font-size: 14px; }
          main .section__noticias .section__div__noticias .noticia .noticia__text .parrafo span {
            display: none; }
        main .section__noticias .section__div__noticias .noticia .noticia__text input {
          margin-top: 10px; }
  main .proximos_encuentro img {
    width: 100%;
    height: 600px; }
  main .section__categoria .contenedor__categoria {
    grid-template-columns: repeat(3, 300px);
    gap: 0;
    width: 95%; }
    main .section__categoria .contenedor__categoria .categoria__img {
      height: 380px; }
      main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img img {
        width: 300px;
        height: 300px; }
    main .section__categoria .contenedor__categoria h4 {
      font-size: 20px; } }

@media screen and (max-width: 1024px) {
  main .proximos_encuentro img {
    width: 100%;
    height: 450px; }
  .footer iframe {
    width: 200px; } }

@media screen and (max-width: 992px) {
  main .section__noticias .section__div__noticias .noticia {
    height: max-content;
    margin-bottom: 10px; }
    main .section__noticias .section__div__noticias .noticia .noticia__text .parrafo {
      column-count: 2;
      font-size: 12px; }
      main .section__noticias .section__div__noticias .noticia .noticia__text .parrafo .ocultar {
        display: none; }
    main .section__noticias .section__div__noticias .noticia .noticia__text input {
      margin-top: 5px; }
  main .proximos_encuentro img {
    width: 100%;
    height: 450px; } }

@media screen and (max-width: 770px) {
  main .section__promocion {
    display: none; }
  main .galeria-responsive {
    display: block; }
    main .galeria-responsive img {
      height: 400px; }
  main .section__noticias h1 {
    font-size: 20px;
    line-height: 70px; }
    main .section__noticias h1 .importante {
      font-size: 25px; }
  main .section__noticias h2 {
    margin-top: 20px;
    font-size: 35px; }
  main .section__noticias .section__div__noticias {
    margin: 0 auto; }
    main .section__noticias .section__div__noticias .noticia {
      flex-direction: column; }
      main .section__noticias .section__div__noticias .noticia .messi img {
        display: none; }
      main .section__noticias .section__div__noticias .noticia .img_responsive {
        display: block;
        width: 400px;
        margin-bottom: 15px; }
        main .section__noticias .section__div__noticias .noticia .img_responsive img {
          width: 100%; }
      main .section__noticias .section__div__noticias .noticia .noticia__text {
        width: 100%; }
        main .section__noticias .section__div__noticias .noticia .noticia__text h3 {
          font-family: "Bebas Neue", sans-serif; }
        main .section__noticias .section__div__noticias .noticia .noticia__text .parrafo {
          column-count: 1;
          width: 500px; }
        main .section__noticias .section__div__noticias .noticia .noticia__text input {
          margin-top: 5px;
          margin-bottom: 10px; }
    main .section__noticias .section__div__noticias .dibu_martinez {
      background-color: #023e8a;
      padding-top: 20px; }
      main .section__noticias .section__div__noticias .dibu_martinez .noticia {
        flex-direction: column-reverse; }
        main .section__noticias .section__div__noticias .dibu_martinez .noticia .noticia__text {
          color: whitesmoke; }
          main .section__noticias .section__div__noticias .dibu_martinez .noticia .noticia__text h3 {
            width: 500px; }
      main .section__noticias .section__div__noticias .dibu_martinez .dibu img {
        display: none; }
  main .proximos_encuentro img {
    width: 100%;
    height: 400px; }
  main .section__categoria .contenedor__categoria {
    grid-template-columns: repeat(1, 400px);
    justify-content: center; }
    main .section__categoria .contenedor__categoria .categoria__img {
      justify-self: center;
      height: 440px; }
      main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img {
        margin-bottom: 10px; }
        main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img img {
          width: 400px;
          height: 360px; }
  main .formulario {
    height: 100px; }
    main .formulario p {
      font-size: 20px; }
    main .formulario .formulario__form .formulario__form__email {
      width: 250px;
      height: 25px; }
    main .formulario .formulario__form .formulario__form__suscripcion {
      width: 100px;
      font-size: 15px;
      padding: 3px; }
  footer {
    flex-direction: column-reverse;
    align-items: center;
    height: max-content; }
    footer h3 {
      font-size: 20px; }
    footer .footer__links {
      width: 100%;
      padding: 30px; }
    footer .footer__redes {
      width: 100%;
      border-bottom: 1px solid gray;
      padding: 30px; }
      footer .footer__redes p {
        font-size: 15px; }
    footer .footer__info {
      width: 100%;
      border-bottom: 1px solid gray;
      padding: 30px; }
      footer .footer__info .info-contacto {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        footer .footer__info .info-contacto h3 {
          text-align: center; }
        footer .footer__info .info-contacto .map iframe {
          width: 300px; } }

@media screen and (max-width: 600px) {
  main .galeria-responsive {
    display: block; }
    main .galeria-responsive img {
      height: 300px; }
  main .section__noticias h1 {
    font-size: 15px;
    line-height: 50px; }
    main .section__noticias h1 .importante {
      font-size: 20px; }
  main .section__noticias h2 {
    margin-top: 20px;
    font-size: 25px; }
  main .section__noticias .section__div__noticias .noticia .img_responsive {
    display: block;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 15px; }
    main .section__noticias .section__div__noticias .noticia .img_responsive img {
      width: 400px; }
  main .section__noticias .section__div__noticias .noticia .noticia__text h3 {
    font-size: 20px; }
  main .section__noticias .section__div__noticias .noticia .noticia__text input {
    width: max-content;
    height: max-content;
    padding: 5px;
    font-size: 10px; }
  main .proximos_encuentro img {
    width: 100%;
    height: 300px; }
  main .formulario {
    height: 90px; }
    main .formulario p {
      font-size: 15px; }
    main .formulario .formulario__form {
      display: flex;
      justify-content: center;
      align-items: center; }
      main .formulario .formulario__form .formulario__form__email {
        width: 250px;
        height: 25px; }
      main .formulario .formulario__form .formulario__form__suscripcion {
        width: max-content;
        height: max-content;
        font-size: 10px;
        padding: 3px; }
  footer h3 {
    font-size: 15px; }
  footer .footer__redes p {
    font-size: 12px; }
  footer .footer__info .info-contacto .map iframe {
    width: 200px; } }

@media screen and (max-width: 480px) {
  main .galeria-responsive img {
    width: 100%;
    height: 250px; }
  main .section__noticias h1 {
    font-size: 14px;
    line-height: 35px;
    padding: 10px;
    text-align: center; }
    main .section__noticias h1 .importante {
      font-size: 18px; }
  main .section__noticias .section__div__noticias .noticia .noticia__text h3 {
    font-size: 18px;
    letter-spacing: 1px; }
  main .section__noticias .section__div__noticias .noticia .noticia__text .parrafo {
    width: 90%; }
  main .section__noticias .section__div__noticias .dibu_martinez .noticia .noticia__text h3 {
    width: 90%; }
  main .proximos_encuentro img {
    width: 100%;
    height: 250px; }
  main .section__categoria h3 {
    font-size: 25px; }
  main .section__categoria .contenedor__categoria {
    grid-template-columns: repeat(1, 70vw);
    justify-content: center; }
    main .section__categoria .contenedor__categoria .categoria__img {
      justify-self: center;
      height: max-content; }
      main .section__categoria .contenedor__categoria .categoria__img h4 {
        font-size: 20px; }
      main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img {
        margin-bottom: 10px; }
        main .section__categoria .contenedor__categoria .categoria__img .categoria__img__img img {
          width: 100%;
          height: 200px; }
  main .formulario {
    height: 100px; }
    main .formulario p {
      font-size: 13px; }
  footer h3 {
    font-size: 15px; }
  footer .footer__redes p {
    font-size: 12px; }
  footer .footer__info .info-contacto {
    flex-direction: column; }
    footer .footer__info .info-contacto .map iframe {
      width: 200px; } }

@media screen and (max-width: 320px) {
  main .galeria-responsive .mi_estilo_galeria img {
    height: 170px; }
  main .section__noticias .section__div__noticias .noticia .img_responsive {
    display: block;
    width: 280px;
    margin-top: 20px;
    margin-bottom: 15px; }
    main .section__noticias .section__div__noticias .noticia .img_responsive img {
      width: 100%; }
  main .proximos_encuentro img {
    width: 100%;
    height: 200px; }
  main .section__categoria h3 {
    font-size: 15px; }
  main .section__categoria .contenedor__categoria .categoria__img h4 {
    font-size: 12px; }
  main .formulario {
    height: 150px; }
    main .formulario .formulario__form {
      flex-direction: column; }
      main .formulario .formulario__form .formulario__form__email {
        font-size: 12px;
        width: 170px;
        margin-bottom: 20px; } }

.tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
  width: 600px;
  text-align: center; }
  .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px; }
  .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
    border-bottom: 1px solid;
    font-family: "Raleway", sans-serif; }

.contenedor_card, main .cards-plantel .contenedor_card {
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke; }

.contenedor_form, main .form_contacto form, main .form_contacto form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main .portada__fixture {
  margin: 10px 0; }
  main .portada__fixture .portada__fixture__img img {
    width: 100%; }

main .formacion_equipos .formacion_gral {
  display: flex;
  justify-content: center; }
  main .formacion_equipos .formacion_gral .formacion__argentina {
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-right: 2px solid; }
    main .formacion_equipos .formacion_gral .formacion__argentina table tr {
      height: 40px;
      border-bottom: 1px solid whitesmoke; }
  main .formacion_equipos .formacion_gral .escudo {
    margin: auto 20px; }
    main .formacion_equipos .formacion_gral .escudo img {
      width: 200px; }
  main .formacion_equipos .formacion_gral .formacion__uruguay {
    display: flex;
    justify-content: space-around; }
    main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
      height: 40px; }

main .proximos_partidos {
  margin: 30px 0 0 0;
  padding-bottom: 20px;
  background-color: #023e8a;
  color: whitesmoke; }
  main .proximos_partidos h2 {
    text-align: center;
    padding: 40px 0;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px; }
  main .proximos_partidos table {
    width: 50%;
    margin: 0 auto;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px; }
    main .proximos_partidos table thead tr {
      box-shadow: 0 0 10px gray;
      font-family: "Bebas Neue", sans-serif;
      font-size: 20px;
      letter-spacing: 1.5px; }
    main .proximos_partidos table tr {
      border-bottom: 1px solid;
      text-align: center;
      height: 50px;
      font-family: "Raleway", sans-serif; }

main .posiciones_gral {
  margin: 30px 0; }
  main .posiciones_gral h2 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    letter-spacing: 5px;
    padding: 30px; }
  main .posiciones_gral table {
    width: 30%;
    margin: 0 auto;
    text-align: center; }
    main .posiciones_gral table thead tr {
      font-family: "Bebas Neue", sans-serif;
      letter-spacing: 3px;
      box-shadow: 0 0 5px gray; }
      main .posiciones_gral table thead tr th {
        padding: 10px; }
    main .posiciones_gral table tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 35px;
      font-family: "Raleway", sans-serif; }
      main .posiciones_gral table tr .ganado {
        color: green;
        font-weight: bold; }
      main .posiciones_gral table tr .perdido {
        color: red;
        font-weight: bold; }
      main .posiciones_gral table tr .empatado {
        color: gray;
        font-weight: bold; }
      main .posiciones_gral table tr:hover td {
        background-color: #023e8a;
        color: whitesmoke; }

@media screen and (max-width: 1280px) {
  main .formacion_equipos .formacion_gral {
    display: block;
    justify-content: center; }
    main .formacion_equipos .formacion_gral .formacion__argentina {
      width: 100%;
      border-right: none;
      margin-bottom: 50px;
      padding: 50px;
      background-color: #023e8a;
      color: whitesmoke; }
    main .formacion_equipos .formacion_gral .escudo img {
      width: 250px; }
    main .formacion_equipos .formacion_gral .formacion__uruguay {
      padding: 25px 50px; } }

@media screen and (max-width: 1024px) {
  main .formacion_equipos .formacion_gral .tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
    width: 600px;
    text-align: center; }
    main .formacion_equipos .formacion_gral .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
      font-size: 15px; }
    main .formacion_equipos .formacion_gral .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
      border-bottom: 1px solid;
      height: 30px;
      font-size: 12px;
      font-family: "Raleway", sans-serif; }
  main .formacion_equipos .formacion_gral .escudo img {
    width: 150px; }
  main .proximos_partidos table {
    width: 70%; }
    main .proximos_partidos table thead tr {
      font-size: 15px; }
    main .proximos_partidos table tr {
      height: 30px;
      font-size: 12px; }
  main .posiciones_gral table {
    width: 45%; }
    main .posiciones_gral table thead tr {
      font-size: 14px; }
    main .posiciones_gral table tr {
      height: 25px;
      font-size: 12px; }
      main .posiciones_gral table tr .ganado {
        color: green;
        font-weight: bold; }
      main .posiciones_gral table tr .perdido {
        color: red;
        font-weight: bold; }
      main .posiciones_gral table tr .empatado {
        color: gray;
        font-weight: bold; }
      main .posiciones_gral table tr:hover td {
        background-color: #023e8a;
        color: whitesmoke; } }

@media screen and (max-width: 768px) {
  main .formacion_gral .tabla_formacion .tabla, main .formacion_equipos .formacion_gral .tabla_formacion .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__argentina .tabla_formacion table, main .formacion_equipos .formacion_gral .tabla_formacion .formacion__uruguay table, main .formacion_equipos .formacion_gral .formacion__uruguay .tabla_formacion table {
    width: 500px; } }

@media screen and (max-width: 600px) {
  main .formacion_equipos .formacion_gral .tabla_formacion .tabla, main .formacion_equipos .formacion_gral .tabla_formacion .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__argentina .tabla_formacion table, main .formacion_equipos .formacion_gral .tabla_formacion .formacion__uruguay table, main .formacion_equipos .formacion_gral .formacion__uruguay .tabla_formacion table {
    width: 100%;
    justify-content: stretch; }
  main .formacion_equipos .formacion_gral .formacion__argentina {
    display: block;
    justify-content: space-around;
    align-items: center; }
  main .formacion_equipos .formacion_gral .formacion__uruguay {
    display: block;
    justify-content: space-around;
    align-items: center; }
  main .formacion_equipos .escudo {
    text-align: center; }
    main .formacion_equipos .escudo img {
      margin: 10px 30px;
      width: 150px; }
  main .proximos_partidos .partidos__argentina table {
    width: 90%; }
    main .proximos_partidos .partidos__argentina table .none-responsive {
      display: none; }
  main .posiciones_gral .tabla_posiciones .posiciones {
    width: 75%; } }

@media screen and (max-width: 320px) {
  main .formacion_equipos .formacion_gral .formacion__argentina {
    padding: 10px; }
  main .formacion_equipos .formacion_gral .tabla_formacion .tabla, main .formacion_equipos .formacion_gral .tabla_formacion .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__argentina .tabla_formacion table, main .formacion_equipos .formacion_gral .tabla_formacion .formacion__uruguay table, main .formacion_equipos .formacion_gral .formacion__uruguay .tabla_formacion table {
    width: 100%;
    justify-content: stretch; }
  main .formacion_equipos .formacion_gral .formacion__uruguay {
    padding: 10px; }
  main .formacion_equipos .escudo img {
    margin: 10px 0px; }
  main .proximos_partidos .tabla_partidos .ultimo_responsive {
    display: none; } }

.tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
  width: 600px;
  text-align: center; }
  .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px; }
  .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
    border-bottom: 1px solid;
    font-family: "Raleway", sans-serif; }

.contenedor_card, main .cards-plantel .contenedor_card {
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke; }

.contenedor_form, main .form_contacto form, main .form_contacto form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main .cards-plantel {
  background-color: #023e8a; }
  main .cards-plantel h1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: whitesmoke;
    padding: 40px; }
  main .cards-plantel h2 {
    margin-left: 40px;
    color: whitesmoke;
    font-family: "Raleway", sans-serif; }
  main .cards-plantel .contenedor_card {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto; }
    main .cards-plantel .contenedor_card .card_miEstilo {
      margin-bottom: 20px; }
      main .cards-plantel .contenedor_card .card_miEstilo img {
        height: 500px; }
      main .cards-plantel .contenedor_card .card_miEstilo .card-body_miestilo {
        padding: 5px; }
        main .cards-plantel .contenedor_card .card_miEstilo .card-body_miestilo .mi_tilte {
          font-family: "Bebas Neue", sans-serif;
          letter-spacing: 1.5px;
          margin: 0; }
        main .cards-plantel .contenedor_card .card_miEstilo .card-body_miestilo p {
          font-family: "Raleway", sans-serif;
          font-size: 14px;
          margin: 0; }
          main .cards-plantel .contenedor_card .card_miEstilo .card-body_miestilo p span {
            font-weight: bold; }

@media screen and (max-width: 1024px) {
  main .cards-plantel h2 {
    margin-left: 10px;
    font-size: 20px; }
  main .cards-plantel .contenedor_card {
    grid-template-columns: repeat(3, 200px); }
    main .cards-plantel .contenedor_card .card_miEstilo {
      margin-bottom: 20px; }
      main .cards-plantel .contenedor_card .card_miEstilo img {
        height: 300px; } }

@media screen and (max-width: 600px) {
  main .cards-plantel .contenedor_card {
    grid-template-columns: repeat(2, 150px); }
    main .cards-plantel .contenedor_card .card_miEstilo {
      margin-bottom: 20px; }
      main .cards-plantel .contenedor_card .card_miEstilo .card-body_miestilo .mi_tilte {
        font-size: 15px; }
      main .cards-plantel .contenedor_card .card_miEstilo .card-body_miestilo .mi_text {
        font-size: 12px; }
      main .cards-plantel .contenedor_card .card_miEstilo img {
        height: 250px; } }

@media screen and (max-width: 320px) {
  main .cards-plantel h1 {
    font-size: 20px;
    padding: 15px; }
  main .cards-plantel .contenedor_card {
    margin: 0;
    grid-template-columns: repeat(1, 150px); } }

.tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
  width: 600px;
  text-align: center; }
  .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px; }
  .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
    border-bottom: 1px solid;
    font-family: "Raleway", sans-serif; }

.contenedor_card, main .cards-plantel .contenedor_card {
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke; }

.contenedor_form, main .form_contacto form, main .form_contacto form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main .form_contacto h1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  letter-spacing: 2.5px;
  margin-top: 50px; }

main .form_contacto p {
  width: 70%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-align: center; }

main .form_contacto form {
  margin: 40px 0; }
  main .form_contacto form div label {
    width: 400px;
    font-family: "Raleway", sans-serif; }
  main .form_contacto form div input {
    border: none;
    border-bottom: 1px solid;
    margin: 10px 0 40px 0;
    width: 400px;
    font-family: "Raleway", sans-serif;
    outline: none;
    padding-left: 5px; }
  main .form_contacto form textarea {
    padding-left: 5px; }
  main .form_contacto form .btn {
    width: 150px;
    border: none;
    background-color: #023e8a;
    color: whitesmoke;
    margin-top: 30px; }
    main .form_contacto form .btn:hover {
      opacity: 0.7;
      transition: opacity 0.5s; }

@media screen and (max-width: 320px) {
  main .form_contacto h1 {
    font-size: 20px; }
  main .form_contacto p {
    font-size: 10px; }
  main .form_contacto .form label {
    width: 200px;
    font-size: 12px; }
  main .form_contacto .form input {
    width: 250px;
    font-size: 12px; }
  main .form_contacto .form textarea {
    width: 250px; }
  main .form_contacto .form .btn {
    width: 100px; } }

.tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
  width: 600px;
  text-align: center; }
  .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px; }
  .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
    border-bottom: 1px solid;
    font-family: "Raleway", sans-serif; }

.contenedor_card, main .cards-plantel .contenedor_card {
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke; }

.contenedor_form, main .form_contacto form, main .form_contacto form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main .nosotros {
  margin: 40px 0; }
  main .nosotros h1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 40px; }
  main .nosotros .contenedor-texto {
    font-family: "Raleway", sans-serif;
    width: 70%;
    margin: 0 auto;
    text-align: justify; }
  main .nosotros .scaloneta {
    text-align: center; }

@media screen and (max-width: 320px) {
  main .nosotros h1 {
    font-size: 20px; }
  main .nosotros .contenedor-texto {
    font-size: 12px;
    width: 80vw; }
  main .nosotros .scaloneta img {
    width: 200px; } }

.tabla, main .formacion_equipos .formacion_gral .formacion__argentina table, main .formacion_equipos .formacion_gral .formacion__uruguay table {
  width: 600px;
  text-align: center; }
  .tabla thead tr, main .formacion_equipos .formacion_gral .formacion__argentina table thead tr, main .formacion_equipos .formacion_gral .formacion__uruguay table thead tr {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2.5px; }
  .tabla tr, main .formacion_equipos .formacion_gral .formacion__argentina table tr, main .formacion_equipos .formacion_gral .formacion__uruguay table tr {
    border-bottom: 1px solid;
    font-family: "Raleway", sans-serif; }

.contenedor_card, main .cards-plantel .contenedor_card {
  width: 70%;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke; }

.contenedor_form, main .form_contacto form, main .form_contacto form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke; }
